/* ***********styling for cloak******* */
[v-cloak] > * { display:
    none;}
    [v-cloak]::before{
        content:'Loading...';
        position: absolute;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: white;
        font-size: 25px;
        left:50%;
        top:50%;
        z-index:1;
        width: 150px;
        height: 150px;
        margin: 200px 0 0 -60px;
        border-radius: 50%;
        width:120px;
        height:120px;
        -webkit-animation: spin 2s
        linear infinite;
        animation: spin 2s linear
        infinite;
        animation-name:floater;
        -webkit-animation-name:floater;
        animation-duration:1.5s;
        -webkit-animation-duration:1.5s;
        -webkit-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
    }
   
    @keyframes floater{
        0%,100%{
            transform:translateY(0)
            }50%{
                transform:translateY(8%)
                }}
    @-webkit-keyframes floater{0%,100%{
        -webkit-transform:translateY(0)
        }50%{-webkit-transform:translateY(8%)}}
    /* ***********styling for cloak******* */


    .remove-line{
        text-decoration:none !important;
    }

    body{
        background-color: black !important;
      }

    .white-color{
        color: white !important;
    }

    
    /* fix nprogress spinner */
#nprogress .spinner {
    display: none !important;
  }
  

  .index{
    z-index: 233 !important;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

#nprogress .bar {
    background: #29d;
    height: 5px;
  }
  

  .bg-leader{
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100% 100%;
    background-image:url('/images/leader.svg');
    background-color: #e9f6fc;
  }
  
  

  .bg-darelist{
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100% 100%;
    background-image:url('/images/list.svg');
    background-color: #e9f6fc;
  }
  
  .bg-help{
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100% 100%;
    background-image:url('/images/help.svg');
    background-color: #e9f6fc;
  }

  .bg-rules{
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100% 100%;
    background-image:url('/images/rules.svg');
    background-color: #e9f6fc;
  }

  .bg-dare{
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100% 100%;
    background-image:url('/images/dare.svg');
    background-color: #e9f6fc;
  }

  
  .bg-store{
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100% 100%;
    background-image:url('/images/store.svg');
    background-color: #e9f6fc;
  }

   
  .bg-homepage{
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100% 100%;
    background-image:url('/images/home.svg');
    background-color: #e9f6fc;
  }

  .text-green{
    color: green;
  }

  .text-white{
    color:white;
  }

  .window-area {
    background: url("/images/leader.svg") center center no-repeat;
    background-size: cover;
    background-color: #e9f6fc;
}
#charm {
    height: calc(100vh - 40px);
    width: 396px;
    background-color: rgba(0, 0, 0, 0.42);
}


.link{
  text-decoration: none;
  color:white;
}

.login-form {
  width: 350px;
  height: auto;
  top: 50%;
  margin-top: -160px;
}
