/* ***********styling for cloak******* */
[v-cloak] > * { display:
    none;}
    [v-cloak]::before{
        content:'Loading...';
        position: absolute;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: white;
        font-size: 25px;
        left:50%;
        top:50%;
        z-index:1;
        width: 150px;
        height: 150px;
        margin: 200px 0 0 -60px;
        border-radius: 50%;
        width:120px;
        height:120px;
        -webkit-animation: spin 2s
        linear infinite;
        animation: spin 2s linear
        infinite;
        animation-name:floater;
        -webkit-animation-name:floater;
        animation-duration:1.5s;
        -webkit-animation-duration:1.5s;
        -webkit-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
    }
   
    @keyframes floater{
        0%,100%{
            transform:translateY(0)
            }50%{
                transform:translateY(8%)
                }}
    @-webkit-keyframes floater{0%,100%{
        -webkit-transform:translateY(0)
        }50%{-webkit-transform:translateY(8%)}}
    /* ***********styling for cloak******* */


    .remove-line{
        text-decoration:none !important;
    }

    body{
        background-color: black !important;
      }

    .white-color{
        color: white !important;
    }

    
    /* fix nprogress spinner */
#nprogress .spinner {
    display: none !important;
  }
  

  .index{
    z-index: 233 !important;
}

.index-low{
  z-index: -10 !important;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

#nprogress .bar {
    background: #29d;
    height: 5px;
  }
  

  .bg-leader{
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100% 100%;
    background-image:url('/images/leader.svg');
    background-color: #e9f6fc;
  }
  
  
  .text-green{
    color: green;
  }

  .text-white{
    color:white;
  }

  .window-area {
    background: url("/images/bg-dare.jpg") center center no-repeat;
    background-size: cover;
    background-color: grey;
}
#charm {
    height: calc(100vh - 97px);
    width: 396px;
    background-color: rgba(0, 0, 0, 0.42);
}
/*
.home-title{
  height: calc(100vh - 480px);
  width: 396px;
  background-color: rgba(0, 0, 0, 0.42);
}
*/
.link{
  text-decoration: none;
  color:white;
  text-decoration-line: none !important;
}

.login-form {
  width: 350px;
  height: auto;
  top: 50%;
  margin-top: -160px;
}

.login-form1 {
  width: 350px;
  height: auto;
  top: 50%;
  margin-top: -220px;
}

.login-form2 {
  width: 350px;
  height: auto;
  top: 50%;
  margin-top: 10px;
}

.scroll{
  overflow: auto !important;
}

.table-dark,.table-dark>td,.table-dark>th{background-color:#c6c8ca}.table-dark tbody+tbody,.table-dark td,.table-dark th,.table-dark thead th{border-color:#95999c}.table-hover .table-dark:hover{background-color:#b9bbbe}.table-hover .table-dark:hover>td,.table-hover .table-dark:hover>th{background-color:#b9bbbe}.table-active,.table-active>td,.table-active>th{background-color:rgba(0,0,0,.075)}.table-hover .table-active:hover{background-color:rgba(0,0,0,.075)}.table-hover .table-active:hover>td,.table-hover .table-active:hover>th{background-color:rgba(0,0,0,.075)}.table .thead-dark th{color:#fff;background-color:#343a40;border-color:#454d55}.table .thead-light th{color:#495057;background-color:#e9ecef;border-color:#dee2e6}.table-dark{color:#fff;background-color:#343a40}.table-dark td,.table-dark th,.table-dark thead th{border-color:#454d55}.table-dark.table-bordered{border:0}.table-dark.table-striped tbody tr:nth-of-type(odd){background-color:rgba(255,255,255,.05)}

.thead-dark th{color:inherit;border-color:#dee2e6}

.bold{
  font-weight: bolder;
}

.remove-deco{
  text-decoration: none !important;
  text-decoration-line: none !important;
}

